{% extends "layout/_layout_admin.html" %}
{% block title %}<title>Админка</title> {% endblock%}
{% block menu %}
<li><span>Записи</span>
    <ul>
        <li class="active"><strong>Список</strong></li>
        <li><a href="/admin/newpost">Новая запись</a></li>
    </ul>
<li><span>Ссылки</span>
        <ul>
            <li><a href="/admin/links">Список</a></li>
            <li><a href="/admin/newlink">Новая ссылка</a></li>
        </ul>
<li><span>Тэги</span>
        <ul>
            <li><a href="/admin/tegs">Список</a></li>
            <li><a href="/admin/newtag">Новый тэг</a></li>
        </ul>
{% endblock %}
{% block center %}
<table class="bordertable narrow">
  <thead><tr><th>Название записи</th><th>Дата создания</th><th>Комментарии</th><th>Править</th><th>Удалить</th></tr></thead>
  <tbody>
  {% for post in posts %}
  <tr><td><a href="/main/post/{{post.hru}}"><strong>{{post.post_title}}</strong></a></td>
      <td>{{post.post_date_time|date:"H:i:s d/m/Y" }}</td><td></td>
      <td><a href="/admin/edit/{{post.hru}}">Правка</a></td>
      <td><a href="/admin/delete/{{post.hru}}">Удалить</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}