{% extends "layout/_layout_admin.html" %}
{% block title %}<title>Админка</title> {% endblock%}
{% block menu %}
<li><span>Записи</span>
    <ul>
        <li><a href="/admin/">Список</a></li>
        <li><a href="/admin/newpost">Новая запись</a></li>
    </ul>
<li><span>Ссылки</span>
    <ul>
        <li class="active"><strong>Список</strong></li>
        <li><a href="/admin/newlink">Новая ссылка</a></li>
    </ul>
<li><span>Тэги</span>
    <ul>
        <li><a href="/admin/tegs">Список</a></li>
        <li><a href="/admin/newtag">Новый тэг</a></li>
    </ul>
{% endblock %}
{% block center %}
<table class="bordertable narrow">
    <thead><tr><th>Название ссылки</th><th>Адрес ссылки</th><th>Править</th><th>Удалить</th></tr></comment></thead>
    <tbody>
    {% for link in links %}
    <tr><td>{{link.name}}</td>
        <td>{{link.url}}</td>
        <td><a href="/admin/linkedit/{{link.id}}">Править</a></td>
        <td><a href="/admin/linkdelete/{{link.id}}">Удалить</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}