{% extends "layout/_layout.html" %}
{% block title %}<title>FT Project</title> {% endblock%}
{% block menu %}
<li class="active"><a href="/"><strong>Новости</strong></a></li>
<li><a href="#">О проекте</a></li>
{% endblock %}
{% block center %}
<div class="box info">
    <p><a href="/main/post/{{post.hru}}"><strong>{{ post.post_title|upper }}</strong></a>
        <span class="ym-label">{{post.post_date_time|date:"H:i:s d/m/Y" }}</span></p>
    <p class="box"> {{ post.post_body }}</p>
    {% tags_by_post postnum=post.id  %}
</div>
<div id="commentbox" class="box">
    <h5>Добавить комментарий</h5>
    <form class="ym-form">
        <label for="author">Ваше имя<sup class="ym-required">*</sup></label>
        <input type="text" id="author">
        <label for="email">Ваша электронная почта<sup class="ym-required">*</sup></label>
        <input type="text" id="email">
        <label for="body">Текст комментария<sup class="ym-required">*</sup></label>
        <textarea id="body" name="body" cols="30" rows="7"></textarea>
        <input type="submit">
    </form>
</div>
{% endblock %}
