{% extends "layout/_layout.html" %}
{% block title %}<title>FT Project</title> {% endblock%}
{% block menu %}
<li class="active"><a href="/"><strong>Новости</strong></a></li>
<li><a href="#">О проекте</a></li>
{% endblock %}
{% block center %}
{% if posts %}
<h3>Записи с тегом {{tag}}</h3>
{%for post in posts %}
<div class="box info">
    <p><a href="/main/post/{{post.hru}}"><strong>{{ post.post_title|upper }}</strong></a>
        <span class="ym-label">{{post.post_date_time|date:"H:i:s d/m/Y" }}</span></p>
    <p class="box"> {{ post.post_body }}</p>
    {% tags_by_post postnum=post.id  %}
</div>
{%endfor%}
{% else %}
     <h3>Пичалька, но записей с таким тегом еще нет.</h3>
{%endif%}
{% endblock %}